*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    background-image: url(log.png);
    background-repeat:no-repeat;
    background-size:100% 200vh;
}

.li{
    margin-top: 100px;
}

.li a{
    display: block;
    font-size: 50px;
    position:relative;
    text-decoration:none;
    text-transform: capitalize;
    padding: 0 10px;
    color:rgba(0, 4, 255, 0.932);
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
}

.li a:before{
    position: absolute;
    content:  "" ;
    height: 1px;
    background:  rgb(210, 0, 252) ;
    left: 0;
    width: 0%;
    bottom: -5px;
    transition: 0.3s;
}

.li a:hover:before{
    width: 100%;
}

.li a:hover{
    color: rgb(210, 0, 252)  ;
}
